input {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  padding: 12px 20px;
  font-size: medium;
  width: 34%;
  margin-top: 30px;
}

label,
input {
  margin: 10px 0;
}
